<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/info.jpg"/>
    <ion-card-content>
      <ion-card-title>
      RegistrApp!
      </ion-card-title>
      <p>RegistrApp, la herramienta que facilitara el conteo de alumnos por clase, y hará que el trabajo de los docentes
        sea mucho mas facil. Contamos con un equipo de trabajo experto en programacion para poder brindar el mejor servicio con nuestra aplicacion.
        La aplicacion trae consigo las funciones de generar codigo QR para el docente y las funciones de escanear codigo para los alumnos para marcar asistencia.
      </p>
      <br>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>
